.body {
    padding: 0pt;
    background-color: black;
    color: white;
    font-family: "Oswald";
    text-align: center;
}
header {
    margin: 20pt;
    font-size: 32px;
    text-align: center;
}
.gallery {
    max-width: 100vw;
    height: 768px;
    padding: 0pt;
}
.image-container {
    padding: 0pt;
    width: 6830px;
}
.slide {
    position: absolute;
    float: left;
    left: -1366px;
    transition: 1s;
}
.slide_inactive {
    left: 0px;
}
.button_bar {
    margin: 50pt;
    text-align: center;
    padding: 20pt;
}