body {
    padding: 0pt;
    background: black;
    color: white;
    font-family: "Oswald";
    text-align: center;
}
header {
    font-size: 32px;
    text-align: center;
    margin: 20pt 0 30pt 0;
}
.image-container {
    width: 99vw;
    height: 81vh;
    position: relative;
    overflow: hidden;
}
.slide {
    position: absolute;
    float: left;
    width: 99vw;
    height: 81vh;
    object-fit: cover;
}
.slide_inactive {
    left: 0px;
}